/* Utility classes for percentage-based heights/positions */
.bar-height-0 { height: 0%; }
.bar-height-5 { height: 5%; }
.bar-height-10 { height: 10%; }
.bar-height-15 { height: 15%; }
.bar-height-20 { height: 20%; }
.bar-height-25 { height: 25%; }
.bar-height-30 { height: 30%; }
.bar-height-35 { height: 35%; }
.bar-height-40 { height: 40%; }
.bar-height-45 { height: 45%; }
.bar-height-50 { height: 50%; }
.bar-height-55 { height: 55%; }
.bar-height-60 { height: 60%; }
.bar-height-65 { height: 65%; }
.bar-height-70 { height: 70%; }
.bar-height-75 { height: 75%; }
.bar-height-80 { height: 80%; }
.bar-height-85 { height: 85%; }
.bar-height-90 { height: 90%; }
.bar-height-95 { height: 95%; }
.bar-height-100 { height: 100%; }

.avg-line-0 { bottom: 0%; }
.avg-line-5 { bottom: 5%; }
.avg-line-10 { bottom: 10%; }
.avg-line-15 { bottom: 15%; }
.avg-line-20 { bottom: 20%; }
.avg-line-25 { bottom: 25%; }
.avg-line-30 { bottom: 30%; }
.avg-line-35 { bottom: 35%; }
.avg-line-40 { bottom: 40%; }
.avg-line-45 { bottom: 45%; }
.avg-line-50 { bottom: 50%; }
.avg-line-55 { bottom: 55%; }
.avg-line-60 { bottom: 60%; }
.avg-line-65 { bottom: 65%; }
.avg-line-70 { bottom: 70%; }
.avg-line-75 { bottom: 75%; }
.avg-line-80 { bottom: 80%; }
.avg-line-85 { bottom: 85%; }
.avg-line-90 { bottom: 90%; }
.avg-line-95 { bottom: 95%; }
.avg-line-100 { bottom: 100%; }
