/* Centralized CSS imports */
@import './App.css';
@import './AnimatedNumber.css';
@import './animations.css';
@import './Card.css';
@import './CommandPalette.css';
@import './DeleteModal.css';
@import './EventModal.css';
@import './Footer.css';
@import './Header.css';
@import './InsightsForecaster.css';
@import './KeyboardShortcutsHelp.css';
@import './Layout.css';
@import './Notification.css';
@import './OverviewEnhanced.css';
@import './Plan.css';
@import './QuickAddModal.css';
@import './Settings.css';
@import './themes.css';
@import './ThemeSelector.css';
@import './ThemeToggle.css';
@import './Timeline.css';
@import './Toast.css';
@import './Transactions.css';
@import './utilities.css';
@import './variables.css';
